In [5]:
import pandas as pd
r1=pd.read_csv('Data/Data_1/ratings1.csv')
r2=pd.read_csv('Data/Data_1/ratings2.csv')
d=pd.read_csv('Data/Data_1/dates.csv')
m=pd.read_csv('Data/Data_1/movies.csv')
r1
r2
r12=pd.concat([r1,r2],ignore_index=True)
r12[39998:]
r12=r12.drop_duplicates(ignore_index=True)
r12[39998:]
r12d=pd.concat([r12,d],axis=1)
display(r12d.head(4))
m.head(4)

   userId  movieId  rating                 date
0       1        1     4.0  2000-07-30 18:45:03
1       1        3     4.0  2000-07-30 18:20:47
2       1        6     4.0  2000-07-30 18:37:04
3       1       47     5.0  2000-07-30 19:03:35

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance